<ng-container *ngIf="modelPortfolio">
  <ion-header>
    <ion-toolbar>
      <ion-back-button slot="start"></ion-back-button>
      <ion-title>Portfolio - {{ modelPortfolio.name }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Holdings</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let hb of holdingBetas">
            <ion-label>{{ hb.ticker }}</ion-label>
            <ion-text slot="end">{{ hb.beta|number:'1.2-2' }}</ion-text>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ng-container>
<ng-container *ngIf="!modelPortfolio">
  <h1>LOADING...</h1>
</ng-container>

